* {
    margin: 0;
    padding: 0;
   
}

h1 {
    display:flex;
    justify-content: center;
    font-size: 6rem;
}

.card{
    display: flex

}

.personTitle {
    display:flex;
    justify-content: start;
    flex-direction: row;
   
}

.title {
    padding: 1rem;
}

#icon {
    align-items: center;
    padding-top: 1rem;
    font-size: 2rem;
}

.row {
    justify-content: space-around;
}